* {
    margin: 0;
  }

.header {
    background-color:seagreen;
    display:flex,
}

h1 {
    text-align: center;
}

.main {
    background-color:yellowgreen;
  }

 .footer {
    background-color:seagreen;
    display: flex;
 } 